/* src/components/newPrompt/newPrompt.css */

.endChat{
    padding-bottom: 100px;   
}
.newPrompt {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 30px 0;
    margin-bottom: 5px;
    
    /* centre the  form element  */
    display: flex;
    justify-content: center;
    align-items: center;   
    /* gap: 20px; */
    @media screen and (max-width: 768px) {
        /* width: 100%; */
        margin-bottom: 16px;
    }
}