.dashboardSidebar{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2rem 0.75rem 1rem;
    background-color: var(--background-sb-color);
    /* #f5f4ef for the text */
    
    .sidebar-header {
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: flex-end;
        padding: 0 0.5rem;
        padding-top: 2.5rem;

    }

    .btn-new-chat{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        background-color: var(--button-background-color);
        /* 
        e: 44433c
        5c5a4f:  */
        color: var(--btn-text-color);
        font-weight: 600;
        cursor: pointer;
        transition: background-color 0.2s;
        &:hover{
            background-color: var(--button-hover-color);
        }
    }

    .agent-chat-link {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        background-color: var(--button-background-color);
        color: var(--btn-admin-text-color);
        font-weight: 600;
        font-size: 1rem;
        cursor: pointer;
        margin-bottom: 4px;
        transition: background-color 0.2s, color 0.2s;
        text-decoration: none;
    }
    .agent-chat-link:hover, .agent-chat-link:focus {
        background-color: var(--button-hover-color);
        color: var(--btn-text-color);
    }

    hr{
        border: none;
        height: 2px;
        background-color: var(--hr-color);
        opacity: 0.1;
        border-radius: 5px;
        margin: 20px 0px;
    }
    
}
.btn-admin-dashboard{
    display: flex;
    justify-content: center;
    border: 2px solid var(--button-hover-color);
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--button-background-color);
    color: var(--btn-admin-text-color);
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
    &:hover{
        background-color: var(--button-hover-color);

    }   
}