/* src/components/chatsList/chatsList.css */

.chatsList{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;

    scrollbar-width:auto;
    scrollbar-color: var(--scrollbar-thumb) transparent;

    /* Webkit scrollbar styling */
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb);
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: var(--scrollbar-thumb-hover);
    }

    -ms-overflow-style: none;

    a {
        padding: 10px;
        border-radius: 10px;
        text-decoration: none;
        color: var(--text-color-main);
    
        &:hover {
          background-color: var(--chat-list-item-active);
        }
        &.active {
          background-color: var(--user-button-background);
        }
      }
}
